.zuka-body {
  .snptwdgt-container {
    .snptwdgt-rtd__ftr,
    .snptwdgt__ftr {
      display: none;
    }
    .snptwdgt__item {
      .snptlinked-item-ico {
        font-size: 16px;
        padding: 20px;
        background-color: #000;
      }
      .fauximg-bin {
        .snpt__fauximg {
          padding-bottom: 100% !important;
        }
      }
    }
  }
}

.slider-image-overlay {
  .slick-slide {
    img {
      filter: grayscale(100);
      -webkit-filter: grayscale(100);
      opacity: 0.4;
      @include single-transition();
    }
    &:hover {
      img {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}

.slider-image-overlay2 {
  .slick-slide {
    img {
      filter: grayscale(100);
      -webkit-filter: grayscale(100);
      opacity: 0.2;
      @include single-transition();
    }
    &:hover {
      img {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}

.slider-item-middle.la-carousel-wrapper {
  .slick-track {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
  }
}

.vc_row {
  &.vc_row-no-padding {
    &.la_row_gap_80 {
      padding-left: 15px;
      padding-right: 15px;
      @media (min-width: 1300px) {
        padding-left: 45px;
        padding-right: 45px;
      }
      @media (min-width: 1500px) {
        padding-left: 80px;
        padding-right: 80px;
      }
    }
    &.la_row_gap_120 {
      padding-left: 15px;
      padding-right: 15px;
      @media (min-width: 1300px) {
        padding-left: 45px;
        padding-right: 45px;
      }
      @media (min-width: 1500px) {
        padding-left: 120px;
        padding-right: 120px;
      }
    }
    &.la_row_gap_200 {
      padding-left: 15px;
      padding-right: 15px;
      @media (min-width: 1300px) {
        padding-left: 45px;
        padding-right: 45px;
      }
      @media (min-width: 1500px) {
        padding-left: 200px;
        padding-right: 200px;
      }
    }
  }
  &[data-vc-stretch-content="true"] {
    &:not(.vc_row-no-padding) {
      &.la_row_gap_80 {
        padding-left: 0;
        padding-right: 0;
        @media (min-width: 1300px) {
          padding-left: 30px;
          padding-right: 30px;
        }
        @media (min-width: 1500px) {
          padding-left: 65px;
          padding-right: 65px;
        }
      }
      &.la_row_gap_120 {
        padding-left: 0;
        padding-right: 0;
        @media (min-width: 1300px) {
          padding-left: 30px;
          padding-right: 30px;
        }
        @media (min-width: 1500px) {
          padding-left: 105px;
          padding-right: 105px;
        }
      }
      &.la_row_gap_200 {
        padding-left: 0;
        padding-right: 0;
        @media (min-width: 1300px) {
          padding-left: 30px;
          padding-right: 30px;
        }
        @media (min-width: 1500px) {
          padding-left: 185px;
          padding-right: 185px;
        }
      }
    }
  }
}

.btn-hidden {
  .btn,
  .banner--btn {
    display: none;
  }
}

span.custom-badge {
  background: #232324;
  color: #fff;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  line-height: 49px;
  position: absolute;
  bottom: 50%;
  margin-left: 5%;
  font-weight: normal;
  font-size: 10px;
  padding: 0;
}

.line-gradient .la-line {
  height: 100%;
  border: none !important;
  @include linear-gradient(to right, $primary-color 0%, #f5bbbb 100%);
}

.line-gradient2 .la-line {
  height: 100%;
  border: none !important;
  @include linear-gradient(to right, #7e8ce2 0%, #f54a5f 100%)
}

.la-members--style-2 .la-member__info:before,
.la_background_gradient {
  @include linear-gradient(to right, #93ddff 0%, #fabb98 100%);
}

.la_background_gradient2 {
  @include linear-gradient(to right, #ea5f72 0%, #fabb98 100%);
}

.la_text_gradient {
  @include lineartextgradient(#fabb98, #93ddff);
}

.la_text_gradient1 {
  @include lineartextgradient(#fabb98, #93ddff);
}

.la_text_gradient2 {
  @include lineartextgradient(#ea5f72, #fabb98);
}

.row--maxwidth-1920 {
  max-width: 1920px;
}

.row--maxwidth-1760 {
  max-width: 1760px;
}

.row--maxwidth-1500 {
  max-width: 1500px;
}

.row--maxwidth-1440 {
  max-width: 1440px;
}

.row--maxwidth-1300 {
  max-width: 1300px;
}

.row--maxwidth-1350 {
  width: 1350px;
}

.row--maxwidth-1250 {
  max-width: 1250px;
}

.row--maxwidth-1200 {
  max-width: 1200px;
}

.row--maxwidth-1170 {
  max-width: 1170px;
}

@media (min-width: 1200px) {
  .column-inner--nopadding > .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.column-wrapper--maxwidth--1500 {
  > .vc_column-inner > .wpb_wrapper {
    width: 1500px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--1300 {
  > .vc_column-inner > .wpb_wrapper {
    width: 1300px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--1000 {
  > .vc_column-inner > .wpb_wrapper {
    width: 1000px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--900 {
  > .vc_column-inner > .wpb_wrapper {
    width: 900px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--850 {
  > .vc_column-inner > .wpb_wrapper {
    width: 850px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--800 {
  > .vc_column-inner > .wpb_wrapper {
    width: 800px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--770 {
  > .vc_column-inner > .wpb_wrapper {
    width: 770px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--750 {
  > .vc_column-inner > .wpb_wrapper {
    width: 750px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--700 {
  > .vc_column-inner > .wpb_wrapper {
    width: 700px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--650 {
  > .vc_column-inner > .wpb_wrapper {
    width: 650px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--600 {
  > .vc_column-inner > .wpb_wrapper {
    width: 600px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--570 {
  > .vc_column-inner > .wpb_wrapper {
    width: 570px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--500 {
  > .vc_column-inner > .wpb_wrapper {
    width: 500px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--470 {
  > .vc_column-inner > .wpb_wrapper {
    width: 470px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--430 {
  > .vc_column-inner > .wpb_wrapper {
    width: 430px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--380 {
  > .vc_column-inner > .wpb_wrapper {
    width: 380px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--350 {
  > .vc_column-inner > .wpb_wrapper {
    width: 350px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--300 {
  > .vc_column-inner > .wpb_wrapper {
    width: 300px;
    max-width: 100%;
  }
}

.element-max-width-230 {
  width: 230px;
  max-width: 100%;
}

.element-max-width-250 {
  width: 250px;
  max-width: 100%;
}

.element-max-width-280 {
  width: 280px;
  max-width: 100%;
}

.element-max-width-330 {
  width: 330px;
  max-width: 100%;
}

.element-max-width-380 {
  width: 380px;
  max-width: 100%;
}

.element-max-width-400 {
  width: 400px;
  max-width: 100%;
}

.element-max-width-430 {
  width: 430px;
  max-width: 100%;
}

.element-max-width-470 {
  width: 470px;
  max-width: 100%;
}

.element-max-width-490 {
  width: 490px;
  max-width: 100%;
}

.element-max-width-500 {
  width: 500px;
  max-width: 100%;
}

.element-max-width-530 {
  width: 530px;
  max-width: 100%;
}

.element-max-width-570 {
  width: 570px;
  max-width: 100%;
}

.element-max-width-600 {
  width: 600px;
  max-width: 100%;
}

.element-max-width-700 {
  width: 700px;
  max-width: 100%;
}

.element-max-width-770 {
  width: 770px;
  max-width: 100%;
}

.element-max-width-800 {
  width: 800px;
  max-width: 100%;
}

.element-max-width-850 {
  width: 850px;
  max-width: 100%;
}

.element-max-width-900 {
  width: 900px;
  max-width: 100%;
}

.element-max-width-1300 {
  width: 1300px;
  max-width: 100%;
}

.element-align--center {
  margin-left: auto;
  margin-right: auto;
}

.column-wrapper--center {
  > .vc_column-inner > .wpb_wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

.column-wrapper--left {
  > .vc_column-inner > .wpb_wrapper {
    margin-left: 0;
    margin-right: auto;
  }
}

.column-wrapper--right {
  > .vc_column-inner > .wpb_wrapper {
    margin-left: auto;
    margin-right: 0;
  }
}

.font-playfair-display {
  font-family: 'Playfair Display', serif;
}

/** Demo 01
****************************************/

#navigation_carousel_home1 {
  text-align: center;
  .wpb_wrapper {
    display: none;
  }
  button {
    background-color: transparent;
    @extend %border-color-body;
    margin: 0px 8px;
    i {
      vertical-align: text-top;
      line-height: 46px;
      @extend %text-color-body;
      font-size: 16px;
    }
    &:hover {
      @extend %background-color-heading;
      @extend %border-color-heading;
      i {
        color: #fff;
      }
    }
  }
}

.home_01_banner_slide {

  .la-item-wrap {
    opacity: 0.4;
  }
  .la-item-wrap.slick-current {
    opacity: 1;
  }
  .slick-list {
    padding-left: 0 !important;
    padding-right: 35% !important;
  }
  .la-banner-box .banner--btn {
    border: none;
    margin: 0;
    text-decoration: underline;
    &:hover {
      background: none;
      @extend %text-color-primary;
    }
  }
}

/** Demo 02
****************************************/
.banner_05_custom_badge_03,
.banner_05_custom_badge_02,
.banner_05_custom_badge,
.image-with-custom-badge {
  position: absolute;
  top: 30%;
  right: -20px;
  right: -webkit-calc(-20px);
  .sale-badge {
    background: #D0021B;
    color: #fff;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    padding-top: 18px;
    span {
      font-style: italic;
      font-size: 12px;
      display: block;
      line-height: 18px;
      &.price {
        font-size: 18px;
        color: #fff;
        font-style: normal;
      }
    }
  }
}

.home_03_banner_style {
  &.la-banner-box .banner--btn {
    border: none;
    padding: 0 0 0 5px;
    text-decoration: underline;
    @extend %text-color-heading;
    &:hover {
      background: none;
      @extend %text-color-primary;
    }
  }
}

/** Demo 05
****************************************/
.home_05_button_tab_product {
  text-align: right;
  position: absolute;
  right: 15px;
  top: 18px;
  z-index: 9;
  text-align: center;
  @include border-radius(30px);
}

.home_05_heading_tab_product {
  float: left;
  z-index: 9;
  padding: 20px 40px;
  margin-right: 40px;
  .slick-slider .slick-dots li i {
    font-size: 18px;
  }
}

.home_05_box_product_top {
  .wpb_wrapper {
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
    padding: 0 40px;
    @media (max-width: 1400px) {
      padding: 0 20px;
    }
  }
  .la-slick-nav {
    opacity: 0;
    .slick-prev {
      left: 0;
    }
    .slick-next {
      left: calc(100% + -60px);
    }
  }
  &:hover {
    .la-slick-nav {
      opacity: 1;
    }
  }
  .products-grid .product_item {
    .product_item--inner {
      margin-bottom: 80px;
    }
    .product_item--thumbnail {
      max-width: 75%;
      margin: auto;
      position: inherit;
    }
    .product_item--action {
      width: 100%;
      height: 100%;
      .wrap-addto {
        position: absolute;
        right: 0;
        bottom: 40px;
        z-index: 1;
        width: 40px;
      }
      bottom: auto;
      top: 0;
    }
    .star-rating {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
      margin: auto;
    }
    .product_item--thumbnail-holder {
      position: relative;
    }
    .product_item--title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .price {
      font-size: 24px;
      del .amount {
        @extend %text-color-heading;
      }

      .amount {
        @extend %text-color-primary;
      }
      font-weight: 400;
    }
  }
  .product_item--info {
    max-width: 75%;
    margin: 0px auto;
    position: relative;
    z-index: 99;
    .elm-countdown {
      display: none;
    }
  }

  .product_item--thumbnail .elm-countdown {
    display: block;
    top: 0;
    .countdown-section {
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 82px;
      height: 82px;
      padding: 18px 0;
      .countdown-amount {
        font-size: 26px;
        @extend %text-color-heading;
      }
      .countdown-period {
        font-size: 12px;
      }
    }
  }
}

.banner_05_custom_badge {
  position: absolute;
  top: 65%;
  transform: translate(-20%, -65%);
  right: 20%;
  .sale-badge {
    width: 65px;
    height: 65px;
    padding: 0;
    .price {
      line-height: 60px;
    }
  }
}

.banner_05_custom_badge_02 {
  position: absolute;
  top: 60%;
  transform: translate(-20%, -60%);
  right: 20%;
  .sale-badge {
    background-color: #F5CA23;
    width: 70px;
    height: 70px;
    padding: 0;
    span.price {
      color: #181818;
      line-height: 70px;
      font-size: 16px;
    }
  }
}

.banner_05_custom_badge_03 {
  position: absolute;
  top: 26%;
  transform: translate(-42%, -26%);
  right: 42%;
  .sale-badge {
    width: 70px;
    height: 70px;
    padding: 0;
    span.price {
      line-height: 70px;
      font-size: 16px;
    }
  }
}

.home_05_banner_06,
.home_05_banner_4,
.home_05_banner_3,
.home_05_banner_2,
.home_05_banner_1 {
  &.la-banner-box .banner--btn {
    margin-top: 20px;
    &:hover {
      text-decoration: underline;
      box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.home_05_banner_06,
.home_05_banner_3,
.home_05_banner_1 {
  &.la-banner-box .banner--btn {
    background-color: $primary-color !important;
    border-top: $primary-color !important;
    color: #fff;
  }
}

.home_05_banner_2 {
  &.la-banner-box .banner--btn {
    @extend %border-color-six;
    @extend %background-color-six;
    color: #fff;
  }
}

.home_05_banner_05 {
  &.la-banner-box .banner--btn {
    border-color: white;
    border-width: 2px;
    color: #fff;
    margin-top: 20px;
    &:hover {
      background-color: #fff;
      @extend %text-color-heading;
    }
  }
}

.home_05_banner_3 {
  .b-title3 {
    span:first-child {
      display: block;
      text-decoration: line-through;
      color: #C5C5C5;
      font-size: 24px;
    }
  }
}

.vc_row.home_right_full {
  .wpb_column.vc_column_container.vc_col-sm-5 {
    width: 500px;
    margin-left: calc((100vw - 1200px) / 2);
    margin-left: -webkit-calc((100vw - 1200px) / 2);
  }
  .wpb_column.vc_column_container.vc_col-sm-7 {
    width: calc(100vw - 520px - (100vw - 1200px) / 2);
    width: -webkit-calc(100vw - 520px - (100vw - 1200px) / 2);
    margin-left: 0;
    padding-left: 85px;
  }
  .la-instagram-loop {
    padding-top: 10%;
    margin-right: -10%;
    .grid-item:nth-child(8),
    .grid-item:nth-child(6),
    .grid-item:nth-child(4),
    .grid-item:nth-child(2) {
      margin-top: -10%;
    }
  }
}

/** Demo 04
****************************************/
.home_04_banner_slider_01 {
  .la-banner-box {
    .banner--image {
      padding-left: 120px;
    }
    .banner--info {
      padding: 0;
      left: 0;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      bottom: 60px;
      top: auto;
    }
  }
  .slick-slider {
    .slick-disabled {
      display: none !important;
    }
    .slick-arrow {
      transform: none;
      top: auto;
      bottom: 0;
      left: 0;
      @include opacity(1);
      @include border-radius(50%);
      i {
        font-size: 20px;
        @extend %text-color-heading;
      }
      &:hover {
        @extend %text-color-primary;
        @extend %background-color-primary;
        i {
          color: #fff;
        }
      }
    }
  }
}

.home_04_banner_slider_02 {
  .la-banner-box {
    .banner--image {
      padding-left: 0px;
      width: 55%;
    }
    .banner--info {
      left: calc(45%);
      padding: 0;
    }
  }
  .slick-slider {
    .slick-disabled {
      display: none !important;
    }
    .slick-arrow {
      transform: none;
      top: auto;
      bottom: calc(25%);
      left: calc(45%);;
      @include opacity(1);
      @include border-radius(50%);
      background-color: #fff;
      i {
        font-size: 20px;
        @extend %text-color-heading;
      }
      &:hover {
        @extend %text-color-primary;
        @extend %background-color-primary;
        i {
          color: #fff;
        }
      }
    }
  }
}

/** Demo 06
****************************************/
.home_06_tab_product {
  .vc_tta-tabs-list li a {
    @extend %three-font-family;
    font-size: 18px;
  }
}

.home_06_intro_top {
  max-width: 600px;
  margin: 0px auto;
}

.home_06_product_slider {
  padding-bottom: 30px;
  position: relative;
  > .row > .col-xs-12 {
    position: static;
  }
  .slick-list {
    padding-left: 30px !important;
    padding-right: 30px !important;
    @media(min-width: 1400px) {
      padding-left: 80px !important;
      padding-right: 80px !important;
    }
    @media(max-width: 768px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .la-slick-nav {
    position: absolute;
    bottom: 0;
    width: 80px;
    left: 50%;
    margin-left: -35px;
    .slick-arrow {
      position: static;
      width: 30px !important;
      height: 30px !important;
      font-size: 20px !important;
      margin: 4px;
      top: 0;
      transform: none;
      float: left;
      border-radius: 50%;
    }
  }
}

.home_06_banner_slides {
  .la-carousel-wrapper {
    .slick-next {
      right: calc(50% - 55px);
      left: auto;
    }
    .slick-prev {
      left: calc(50% - 55px);
    }
    .slick-next,
    .slick-prev {
      top: auto;
      bottom: -115px;
      i {
        font-size: 18px;
        @extend %text-color-heading;
      }
    }
  }
  .la-item-wrap {
    opacity: 0.4;
    .banner--info {
      display: none;
    }
  }
  .la-item-wrap.slick-active {
    opacity: 1;
    .banner--info {
      display: block;
    }
    + .slick-active + .slick-active {
      opacity: 0.4;
      .banner--info {
        display: none;
      }
    }
  }
}

.home_06_blog {
  .loop__item__meta--footer {
    display: none;
  }
}

/** Demo 08
****************************************/

.home_08_height_760 {
  height: 760px;
}

.product-sale-home-08 {
  .product_item--info .elm-countdown .countdown-row {
    background-color: #E45859;
  }
}

/** Demo 09
****************************************/

.box-banner {
  margin: 12px 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  &:hover {
    @include box-shadow(0px 0px 16px 0px rgba(0, 0, 0, 0.17));
    .b-title {
      @extend %text-color-four;
    }
  }
}

.home_09_banner_top.la-banner-box {
  .banner--btn {
    margin-top: 20px;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      @extend %border-color-four;
      @extend %background-color-four;
    }
  }
}

.home_09_heading_custom {
  background: #F8E71D;
  @extend %text-color-heading;
  padding: 18px 30px;
  display: inline-block;
  position: absolute;
  z-index: 99;
  left: 15px;
  text-align: center;
  .heading-tag {
    color: #141829;
    padding-bottom: 0px;
    font-size: 14px;
  }
}

.home_09_box_icon.la-sc-icon-boxes {
  .box-icon-heading {
    padding-right: 35px;
  }
  .box-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
}

/** Demo 10
****************************************/

.title-custom-deal {
  @extend %background-color-primary;
  color: #fff;
  display: inline-block;
  padding: 6px 20px;
  min-width: 120px;
  font-style: italic;
  font-weight: 700;
  position: relative;
  &:before {
    position: absolute;
    right: -1px;
    width: 0;
    height: 0;
    top: -1px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 19px solid #f9f9f9;
    content: "";
  }
}

.home_10_banner_top.la-banner-box {
  .banner--image {
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    &:before {
      position: absolute;
      top: 0;
      left: 150%;
      z-index: 1;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: rgba(245, 166, 35, 0.5);
      @include transform(skewX(-40deg));
      -webkit-transition: all 0.45s;
      transition: all 0.45s;
    }
    &:after {
      position: absolute;
      top: 0;
      left: -150%;
      z-index: 1;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      @include transform(skewX(-40deg));
      -webkit-transition: all 0.45s;
      transition: all 0.45s;
    }
  }
  .banner--btn {
    border-color: #fff;
    border-width: 2px;
    color: #fff;
    text-transform: uppercase;
    @include border-radius(0);
    text-decoration: none;
    font-style: normal;
    padding: 15px 50px;
    margin-top: 30px;
    &:hover {
      @extend %border-color-primary;
    }
  }
  &:hover {
    .banner--image {
      &:before {
        @include animation(effect_shine 0s)
        left: 65%;
      }
      &:after {
        @include animation(effect_shine 0s)
        left: -35%;
      }
      div {
        @include scale(1.0);
        opacity: 1;
      }
    }
  }
}

.blog-custom-home-10 {
  .showposts-loop .loop__item__info .entry-title {
    @extend %body-font-family;
    font-weight: 600;
  }
}

/** Page About
****************************************/

.custom-heading-aboutus {
  .banner--info {
    bottom: 0;
    background-color: rgba(190, 11, 17, 0.5);
    width: 260px;
    text-align: center;
    height: 90px;
    bottom: 0;
    top: auto;
    right: 0;
    line-height: 55px;
    transform: translateY(0);
  }
}

/** Page Blog
****************************************/

.heading_custom_blog_popular {
  position: absolute;
  z-index: 99;
  top: 1px;
  @extend %background-color-primary;
  left: 120px;
  right: 0;
  font-size: 14px;
  max-width: 120px;
  margin: auto;
  padding: 6px 0;
  line-height: 30px;
  .heading-tag {
    font-weight: 600;
    padding: 0;
    letter-spacing: 1px;
  }
}

/** Page INFO
****************************************/
.home_info_intro {
  .vc_column-inner > .wpb_wrapper {
    padding-left: 55px;
    max-width: 530px;
  }
}

/** Coming Soon
****************************************/

.widget.widget-title-uppercase .widget-title {
  font-weight: normal;
  text-transform: uppercase;
}

.instagram_heading_custom {
  background: #181818;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  margin: auto;
  width: 160px;
  .heading-tag {
    color: #fff;
    padding-bottom: 0px;
    font-size: 12px;
  }
}

/** END DEMO
****************************************/

.la-custom-btn {
  a {
    font-size: 14px;
    font-weight: bold;
    padding-right: 30px;
    position: relative;
    &:before {
      content: "";
      border-top-width: 2px;
      border-top-color: inherit;
      border-top-style: solid;
      position: absolute;
      width: 10px;
      right: 12px;
      top: 9px;
      transition: inherit;
    }
    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border-width: 6px 0 6px 7px;
      border-style: solid;
      border-color: transparent;
      border-left-color: inherit;
      right: 5px;
      top: 4px;
      transition: inherit;
    }
    &:hover {
      &:before {
        right: 7px;
      }
      &:after {
        right: 0;
      }
    }
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &.open-burger-menu,
  &.open-search-form,
  &.open-header-aside {
    overflow: hidden;
  }
}

.home.blog:not(.paged) .blog__item.sticky .loop__item__inner {
  background-color: #f3f3f7;
  padding: 0 30px;
  color: #000;
}

.shop_table .product-thumbnail img {
  max-width: 70px;
}

.home.blog .la-breadcrumbs {
  display: none;
}

.single_post_item--category-link + .single_post_item--meta {
  margin-top: 5px;
}

.single_post_item--category-link:first-child {
  margin-top: 0;
}

.page-links > span:not(.page-links-title) {
  @extend %background-color-primary;
  padding: 2px 15px;
  color: #fff;
}

.page-links > a {
  background-color: #181818;
  color: #fff;
  padding: 2px 15px;
  &:hover {
    @extend %background-color-primary;
  }
}

.page-links > a,
.page-links > span:not(.screen-reader-text) {
  margin-right: 5px;
  display: inline-block;
}

body:not(.isLaWebRoot) .single-post-content > .entry-thumbnail a {
  display: inline-block;
}

.commentlist li[id*="pingback-comment"] {
  margin-bottom: 15px;
}

.commentlist li[id*="pingback-comment"] + .comment {
  padding-top: 30px;
}

.commentlist li[id*="pingback-comment"] a.url {
  margin: 0 5px;
  color: #dcb86c;
}

.commentlist li[id*="pingback-comment"] a.url:hover {
  text-decoration: underline;
}

.single-post-detail .comments-area .comment-text table {
  font-size: 12px;
}

.site-header-top.use-custom-html {
  .header-top-left {
    float: left;
  }
  .header-top-right {
    float: right;
  }
}

.header_component .social-media-link {
  line-height: 20px;
  margin-top: 10px;
}

.la_compt_iem.la_com_action--text .social-media-link {
  margin: 0 15px;
  a {
    margin: 0 8px;
  }
}

.site-main-nav .main-menu {
  > li.active > a {

  }
  > li > a {
    font-weight: 600;
  }
}

@media (max-width: 800px) {
  .la-breadcrumbs:not(.use-custom-text) {
    font-size: 10px;
    letter-spacing: 0;
  }
}

.btn__loadmore__1 {
  .elm-loadmore-ajax {
    margin-top: 1.5em;
    a {
      border-width: 2px;
      border-style: solid;
      font-size: 13px;
      padding: 1em 3em;
      line-height: 1.9;
      color: inherit;
      &:after {
        display: none;
      }
    }
  }
}

.btn__loadmore__2 {
  .elm-loadmore-ajax {
    .btn {
      padding: 0;
      border-width: 0 0 1px;
      min-width: 0;
      text-transform: none;
      font-size: 14px;
      font-weight: normal;
    }
  }
}

.product-main-image > .p---large {
  position: relative;
}

body:not(.wpb-js-composer) .page-content .not-active-fullpage,
.single-post-content > .entry-content {
  line-height: 30px;
  margin-bottom: 0;
}

.page-content .not-active-fullpage > p:first-child,
.single-post-content > .entry-content > p:first-child {

}

body:not(.wpb-js-composer) .page-content .not-active-fullpage p:not(:last-child) {
  margin-bottom: 22px;
}

body:not(.wpb-js-composer) .page-content .not-active-fullpage .wp-caption.alignnone,
.single-post-content > .entry-content .wp-caption.alignnone {
  max-width: calc(100% + 40px);
  margin-left: -20px;
}

.wp-caption p.wp-caption-text, .wp-caption-dd {
  display: inline-block;
  color: rgba(0, 0, 0, .4);
  font-size: .85em;
  line-height: 1.6;
  margin: 0;
  padding: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, .12);
}

blockquote:not(.la-blockquote) {
  @extend %three-font-family;
  @extend %text-color-heading;
  font-size: 22px;
  margin: 0 0;
  padding: 0 40px 0 80px;
  line-height: 32px;
  position: relative;
  border: none;
}

blockquote:not(.la-blockquote):before {
  display: block;
  content: "\201C";
  font-size: 140px;
  position: absolute;
  left: -10px;
  top: 45px;
  height: 60px;
  @extend %text-color-heading;
}

blockquote:not(.la-blockquote) cite {
  color: #737373;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  @extend %body-font-family;
  font-style: normal;
}

.gallery {
  display: block;
  text-align: center;
  clear: both;
  overflow: hidden;
  margin: 12px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 20px;
}

.gallery .gallery-row {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0
}

.gallery .gallery-item {
  overflow: hidden;
  float: left;
  margin: 0;
  text-align: center;
  list-style: none;
  padding: 0;
}

.gallery .gallery-item a {
  display: block;
  background: #f4f4f4;
  margin: 6px;
  padding: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
  border: 0;
  border-radius: 2px;
  transition: background .25s;
}

.gallery .gallery-item img, .gallery .gallery-item img.thumbnail {
  display: block;
  height: auto;
  margin: 0 auto;
  border: 0 !important
}

.gallery-caption {
  margin-left: 0
}

.site-main-nav .default-menu > li > a {
  letter-spacing: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.section-page-header .page-title {
  font-weight: normal;
}

@media(min-width: 1200px) {
  .section-page-header .page-title {
    font-size: 36px;
  }
}

html.touchevents .header_component--dropdown-menu:hover .menu {
  opacity: 0;
  visibility: hidden;
}

html.touchevents .header_component--dropdown-menu.active .menu {
  opacity: 1;
  visibility: visible;
}

html.touchevents .wc-toolbar .wc-ordering:hover p:after {
  content: "\f107";
}

html.touchevents .wc-toolbar .wc-ordering:hover ul {
  visibility: hidden;
  margin-top: 30px;
  opacity: 0;
}

html.touchevents .wc-toolbar .wc-ordering.active p:after {
  content: "\f106";
}

html.touchevents .wc-toolbar .wc-ordering.active ul {
  opacity: 1;
  visibility: visible;
  margin-top: 7px;
}

.isLaWebRoot {
  &.search.search-results:not(.archive),
  &.blog,
  &.archive.tag,
  &.archive.author,
  &.archive.category {
    .site-main {
      @media(min-width: 1200px) {
        padding-top: 100px;
        padding-bottom: 80px;
      }
    }
  }
}

.showposts-loop.main-search-loop {
  .loop__item__info {
    text-align: inherit;
    padding: 0;
  }
  .loop__item__desc {
    font-size: inherit;
  }
  .blog__item {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .loop__item__title .entry-title {
    font-size: 20px;
  }
  .btn-readmore {
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    border-width: 1px;
    border-style: solid;
    @extend %border-color
  }
}

body.header-v8.page-title-vhide {
  .site-header {
    .site-header-outer {
      border-bottom: 1px solid #DCDCDC;
    }
  }
  &.single-product {
    .site-main {
      @media(min-width: 1200px) {
        padding-top: 90px;
      }
    }
  }
}

.mm-hidden {
  display: none !important;
}

.header-v8 .site-header__nav-primary .main-menu > li.mm-hidden {
  float: right;
  display: block !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: 30px;
}

.header-v8 .site-header__nav-primary .main-menu > li.mm-hidden a {
  padding-left: 0;
  padding-right: 0;
}

.commentlist .comment .comment-respond {
  margin: 0 0 20px;
}

.commentlist .comment .comment-respond .comment-reply-title {
  margin-top: 10px;
}

#blog_content_container .blog-main-loop.blog-pagination-type-pagination + .la-pagination {
  padding-top: 10px;
}

.header-vdefault h1 {
  font-size: 30px;
}

.header-vdefault h2 {
  font-size: 26px;
}

.header-vdefault h3 {
  font-size: 22px;
}

.header-vdefault blockquote {
  font-size: 1.15em;
  float: none;
  width: auto;
  min-height: 60px;
}

.entry-content blockquote p:last-child {
  margin-bottom: 0;
}

.header-vdefault .single-post-content .entry-content h1,
.header-vdefault .single-post-content .entry-content h2,
.header-vdefault .single-post-content .entry-content h3 {
  margin-bottom: 15px;
}

.header-vdefault .commentlist .comment-text .description {
  font-family: inherit;
  font-style: inherit;
}

.header-vdefault .mega-menu > li {
  padding: 0 5px;
}

.header-vdefault .mega-menu.default-menu > li > ul {
  padding: 15px 10px;
}

.header-vdefault .main-menu > li > a {
  text-transform: none;
  font-weight: 600;
}

.header-vdefault .showposts-loop .entry-title {
  font-size: 20px;
}

.header-vdefault .showposts-loop.showposts-list .blog__item {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.header-vdefault .showposts-loop.showposts-list .loop__item__inner {
  margin-bottom: 0;
}

.header-vdefault .showposts-loop.showposts-list .loop__item__info {
  padding: 0;
  text-align: inherit;
}

.header-vdefault .showposts-loop.showposts-list .loop__item__info2 {
  max-width: 100%;
}

.header-vdefault .showposts-loop.showposts-list .loop__item__meta--footer {
  display: block;
}

.header-vdefault .showposts-loop.showposts-list .btn-readmore {
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #e8e8e8;
}

.header-vdefault .showposts-loop .loop__item__thumbnail .loop__item__thumbnail--bkg {
  background: none !important;
  padding-bottom: 0 !important;
  display: inline-block;
  transform: none;
  -webkit-transform: none;
  position: relative;
}

.header-vdefault .showposts-loop .gitem-zone-height-mode-original2 img {
  visibility: visible;
  display: inline-block;
}

.header-vdefault .showposts-loop.showposts-list .loop__item__thumbnail {
  margin-bottom: 25px;
}

.home.blog:not(.paged) .blog__item.sticky {
  padding-bottom: 0;
  border: none;
}

.home.blog:not(.paged) .blog__item.sticky .loop__item__inner {
  padding: 30px;
}

.header-vdefault .page-title-section .page-title {
  font-size: 30px;
  margin: -7px 0 10px;
  font-family: "Playfair Display", serif;
}

.header-vdefault .page-title-section {
  margin-bottom: 25px;
  font-size: 13px;
}

.header-vdefault .la-breadcrumbs .la-breadcrumb-item-sep {
  margin: 0;
}

.header-vdefault blockquote:not(.la-blockquote) {
  margin-left: 0;
}

.header-vdefault .commentlist .comment-text .description p:not(:last-child) {
  margin-bottom: 10px;
}

.header-vdefault .sidebar-inner .widget .widget-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
}

.dokan-dashboard header.dokan-dashboard-header h1 {
  font-size: 26px;
}

ul.dokan-listing-filter {
  color: #232324;
}

.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a i {
  padding: 0;
}

.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links {
  text-align: center;
}

.profile-frame-wrapper {
  font-size: 12px;
  &.section-page-header {
    text-align: inherit;
  }
  &.has-img {
    background: none;
  }
  .page-header-inner {
    padding: 0 !important;
  }
  .profile-info-summery {
    position: relative;
  }
  .profile-info-head {
    width: 270px;
    float: left;
    min-height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .profile-info {
    padding-top: 15px;
    padding-left: 320px;
    padding-bottom: 15px;
  }
  .profile-info-bottom {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      margin: 0 25px 0 0;
      i {
        padding-right: 5px;
      }
      &:last-child {
        margin-right: 0 !important;
      }
    }
    .dokan-store-info {
      float: left;
    }
    .store-social-wrapper {
      float: right;
      margin-top: -30px;
      font-size: 14px;
      li {
        margin-right: 10px;
      }
    }
  }
}

.dokan-store {
  #section_page_header {
    .page-header-inner {
      min-height: 240px;
    }
    .la-breadcrumbs {
      display: none;
    }
  }
  .dokan-widget-area {
    padding-top: 15px;
  }
}

@media(max-width: 1300px) {
  .profile-frame-wrapper .profile-info {
    padding-left: 295px;
  }
  .profile-frame-wrapper .profile-info-head {
    width: 230px;
  }
  .profile-frame-wrapper .profile-info .store-name {
    font-size: 26px;
  }
  .dokan-store #section_page_header .page-header-inner {
    min-height: 200px;
  }

  .m15_banner_1.banner-type-7 .b-title2,
  .m15_banner_2.banner-type-7 .b-title2,
  .m15_banner_3.banner-type-7 .b-title2,
  .m15_banner_4.banner-type-7 .b-title2 {
    font-size: 50px;
  }
}

@media(max-width: 1199px) {
  .profile-frame-wrapper .profile-info-head {
    width: 150px;
  }
  .dokan-store #section_page_header .page-header-inner {
    min-height: 150px;
  }
  .profile-frame-wrapper .profile-info {
    padding-left: 180px;
  }

  .vc_row.home_right_full .wpb_column.vc_column_container.vc_col-sm-5 {
    margin-left: 0;
    width: 50%;
  }
  .vc_row.home_right_full .wpb_column.vc_column_container.vc_col-sm-7 {
    padding-left: 0;
    width: 50%;

  }
  .la-separator.margin-top-25.margin-bottom-25 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
}

@media(max-width: 992px) {
  .profile-frame-wrapper .profile-info .store-name {
    margin-top: 0;
    font-size: 20px;
  }
  .profile-frame-wrapper .profile-info {
    padding-left: 170px;
    padding-bottom: 0;
  }
  .profile-frame-wrapper .profile-info-bottom .store-social-wrapper {
    float: left;
    margin-top: 5px;
    clear: both;
  }
  .vc_row.home_right_full .wpb_column.vc_column_container.vc_col-sm-5 {
    width: 100%;
    text-align: center;
  }
  .vc_row.home_right_full .wpb_column.vc_column_container.vc_col-sm-7 {
    width: 100%;
    padding: 0;
  }
  .vc_row.home_right_full .la-instagram-loop {
    margin: 0;
    padding: 0;
  }
  .vc_row.home_right_full .la-instagram-loop .grid-item:nth-child(8),
  .vc_row.home_right_full .la-instagram-loop .grid-item:nth-child(6),
  .vc_row.home_right_full .la-instagram-loop .grid-item:nth-child(4),
  .vc_row.home_right_full .la-instagram-loop .grid-item:nth-child(2) {
    margin: 0;
  }
  .m15_banner_1.banner-type-7 .b-title2,
  .m15_banner_2.banner-type-7 .b-title2,
  .m15_banner_3.banner-type-7 .b-title2,
  .m15_banner_4.banner-type-7 .b-title2 {
    font-size: 40px;
  }
  .m15_banner_1.banner-type-7 .b-title1 {
    font-size: 14px;
  }
  .m16_banner.banner-type-3 .b-title1 {
    font-size: 14px;
    padding: 10px 20px;
  }
  .m16_banner.banner-type-3 .b-title1:after {
    display: none;
  }
}

@media(max-width: 500px) {
  .profile-frame-wrapper .profile-info {
    padding-left: 100px;
  }
  .profile-frame-wrapper .profile-info-head {
    width: 80px;
    min-height: 80px;
    position: static;
    margin-right: 20px;
    margin-top: 20px;
  }
  .dokan-store #section_page_header .page-header-inner {
    min-height: 120px;
  }
}

.woocommerce-Tabs-panel--seller .tab-content > h2 {
  display: none;
}

@media(min-width: 1200px) {
  .btn-close-newsletter-popup {
    display: none;
  }
}

.blog-main-loop__btn-loadmore {
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
  margin-top: 40px;
  @extend %text-color-secondary;
  &.nothing-to-load {
    display: none;
  }
  + .la-pagination {
    display: none;
  }
}

.products.prods_masonry.la-infinite-container {
  margin-bottom: 40px;
}

.la-custom-badge {
  position: absolute;
  z-index: 9;
  font-size: 10px;
  padding: 12px 15px;
  line-height: 20px;
  text-align: center;
  @extend %background-color-primary;
  color: #fff;
  top: 20px;
  min-width: 42px;

  text-transform: uppercase;
}

.onsale {
  min-width: 42px;
  top: 20px;
}

.la-custom-badge.even + .odd + .onsale,
.la-custom-badge.even + .onsale,
.la-custom-badge.odd ~ .odd,
.la-custom-badge.even ~ .even {
  top: 65px;
}

body:not(.rtl) {
  .la-custom-badge {
    left: 20px;
  }
  .la-custom-badge.even {
    right: 20px;
    left: auto;
  }
  .la-custom-badge.odd + .onsale {
    right: 20px;
    left: auto;
  }
  .la-custom-badge.even + .onsale {
    left: 20px;
    right: auto;
  }
}

body.rtl {
  .la-custom-badge {
    right: 20px;
  }
  .la-custom-badge.even {
    left: 20px;
    right: auto;
  }
  .la-custom-badge.odd + .onsale {
    left: 20px;
    right: auto;
  }
  .la-custom-badge.even + .onsale {
    right: 20px;
    left: auto;
  }
}

.isLaWebRoot {
  .single-post-content > .entry-thumbnail {
    img {
      width: 100%;
    }
  }
}

.header-vdefault .showposts-loop.showposts-list .btn-readmore,
.showposts-loop.main-search-loop .btn-readmore {
  transition: all .3s;
  padding: 8px 20px;

}

.showposts-loop.main-search-loop .btn-readmore:hover,
.header-vdefault .showposts-loop.showposts-list .btn-readmore:hover {
  background-color: #d25b5b;
  border-color: #d25b5b;
  color: #fff;
}

.header-vdefault .showposts-loop.showposts-list .btn-readmore {
  padding: 8px 30px 8px 20px;
  &:before {
    right: 10px;
    top: 8px;
  }
}

.header-vdefault .mega-menu .mm-popup-narrow li.menu-item > a {
  font-size: 13px;
}

.header-vdefault .mega-menu .mm-popup-narrow ul.sub-menu li.menu-item > a:after {
  display: none;
}

.header-vdefault .mega-menu .mm-popup-narrow ul.sub-menu li ul.sub-menu {
  position: static;
  opacity: 1;
  visibility: visible;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-left: 0;
  padding: 0 20px;
}

.header-vdefault .loop__item__meta i {
  display: inline-block;
  padding-right: 8px;
  vertical-align: -1px;
}

.header-vdefault .showposts-loop .loop__item__meta {
  font-size: 13px;
}

.header-vdefault .showposts-loop .loop__item__meta--item {
  margin-right: 15px;
}

.header-vdefault .loop__item__meta .byline .screen-reader-text {
  display: none;
}

.header-vdefault .loop__item__meta .byline:not(:last-child):after {
  display: none;
}

.header-vdefault .loop__item__meta__top .loop__item__termlink {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  a {
    @extend %text-color-primary;
    &:hover {
      text-decoration: underline;
    }
  }
}

.header-vdefault .loop__item__meta__top .loop__item__termlink:before {
  display: none;
}

.header-vdefault .list-echeck .entry-title {
  margin-bottom: 8px;
}

.header-vdefault .list-echeck .loop__item__desc {
  padding-top: 8px;
  font-size: inherit;
}

.header-vdefault .single-post-content .showposts-loop .loop__item__termlink {
  display: block;
  margin: 0 0 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
}

.header-vdefault .single-post-content .showposts-loop .loop__item__termlink:before {
  display: none;
}

.header-vdefault .single-post-content .showposts-loop .loop__item__meta {
  margin-bottom: 20px;
}

.comments-container .pagination ul.page-numbers {
  list-style: none;
  text-align: center;
  margin: 15px 0;
  padding: 0;
}

.comments-container .pagination ul.page-numbers li {
  display: inline-block;
  margin: 0 5px;
}

.comments-container .pagination ul.page-numbers .page-numbers {
  padding: 0 5px;
}

.comments-container .pagination ul.page-numbers .page-numbers.current {
  font-weight: bold;
  color: $primary-color;
}

.header-vdefault .sidebar-inner .widget:not(.widget_search) {
  border: 1px solid #e8e8e8;
  padding: 30px 25px 10px;
  font-size: 13px;
}

.header-vdefault .sidebar-inner .widget .widget-title:after {
  content: '';
  border-bottom: 1px solid;
  width: 30px;
  display: block;
  margin-top: 20px;
}

.header-vdefault .sidebar-inner .widget {
  margin-bottom: 30px;
}

.header-vdefault .sidebar-inner .calendar_wrap td,
.header-vdefault .sidebar-inner .calendar_wrap th {
  padding: 5px;
  font-size: 12px;
}

.header-vdefault .sidebar-inner .calendar_wrap {
  padding-top: 10px;
}

.header-vdefault .sidebar-inner .widget select {
  margin-top: 5px;
  margin-bottom: 20px;
}

.header-vdefault .sidebar-inner .widget .tagcloud {
  padding-bottom: 10px;
}

.slide_dots_custom .slick-slider {
  text-align: center;
}

.slide_dots_custom .slick-slider .slick-dots {
  display: inline-block !important;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #DFDFDF;
  border-radius: 15px;
  padding: 7px 12px;
  margin-top: 40px;
}

.slide_dots_custom .slick-slider .slick-dots li {
  width: 12px;
  height: 12px;
}

.slide_dots_custom .slick-slider .slick-dots li.slick-active .fa:before {
  content: '\f111';
}

.la-showposts.slide_dots_custom .slick-slider .slick-dots {
  margin-top: 0;
}

.header_component.header_demo7_1 .social-media-link {
  margin: 0;
}

.m7_header_com_text_1 {
  margin-left: 2px;
}

.larev-dot2.horizontal.tp-bullets {
  left: calc(270px + 1vw) !important;
  bottom: -80px !important;

}

.rev_slider .tparrows {
  display: none;
}

@media(max-width: 1400px) {
  .larev-dot2.horizontal.tp-bullets {
    left: calc(200px + 1vw) !important;
  }
}

@media(max-width: 1199px) {
  .larev-dot2.horizontal.tp-bullets {
    left: calc(160px + 1vw) !important;
  }
  .larev-dot2.tp-bullets .tp-bullet .tp-bullet-title {
    font-size: 18px !important;
  }
  .larev-dot2.tp-bullets .tp-bullet-wrap {
    bottom: 0 !important;
  }
}

@media(max-width: 991px) {
  .rev_slider .tparrows {
    display: block;
  }
  .larev-dot2.vertical.tp-bullets,
  .larev-dot2.horizontal.tp-bullets {
    display: none;
  }
}

@media(max-width: 767px) {

  .larev-dot2.horizontal.tp-bullets {
    left: calc(20px + 1vw) !important;
  }
}

.max-width-1170px {
  max-width: 1200px;
  margin: 0px auto;
}

.la-breadcrumbs .la-breadcrumb-item {
  -ms-word-break: break-all;
  word-break: break-all;
}

.widget_rss ul .rssSummary,
.commentlist .comment-text .description,
.entry-content,
.single-post-detail .showposts-excerpt,
.section-page-header .page-title {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.calendar_wrap #today {
  @extend %background-color-primary;
  color: #fff;
}

.body-loaded.la-enable-fullpage {
  .lahfb-wrap-sticky-height {
    transition: height .3s ease;
  }
  .is-sticky .lahfb-wrap-sticky-height {
    height: 0 !important;
  }
}


.lahfb-nav-wrap.has-megamenu > ul > li.mega{
  position: relative !important;
}
