@media (max-width: 1500px) {

  .la__tta .tab--4 .vc_tta-tabs-list {
    font-size: 30px;
  }
  .la__tta .tab--4 .vc_tta-tabs-list li .vc_tta-title-text {
    border-bottom-width: 2px;
  }
  .banner_05_custom_badge {
    top: 25%;
    transform: translate(-10%, -25%);
    right: 10%;
  }
}

@media (max-width: 1400px){
  .vc_row.background-width-box{
    background-size: 100% 100%;
  }

  .banner-responsive-large.la-banner-box .banner--image div{
    padding-top: 70% !important;
  }
  .banner-responsive.la-banner-box .banner--image div{
    padding-top: 50% !important;
  }

  .banner_05_custom_badge_03 {
    top: 12%;
    transform: translate(-12%, -12%);
    right: 12%;
  }
  .slick-slider .slick-prev,
  .la-slick-nav .slick-prev{
    right: calc( 100% - 70px );
  }
  .slick-slider .slick-next,
  .la-slick-nav .slick-next{
    left: calc( 100% - 70px );
  }

  .mega-menu > li > a{
    padding-left: 10px;
    padding-right: 10px;
  }

  .la-sharing-posts .social--sharing {
    right: 0;
  }

  .banner-type-1 .b-title1 {
    font-size: 14px;
  }

  .lahfb-vertical{
    min-width: 270px;
  }
  #lastudio-header-builder .lahfb-vertical .lahfb-nav-wrap #nav > li > a{
    font-size: 16px;
  }

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .cart-flyout .cart_list{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .product_list_widget li{
    margin-bottom: 30px;
    + li{
      margin-top: 0;
    }
  }
}

/* Large devices (large desktops, 1200px only) */
@media (min-width: $screen-lg-min) and (max-width: 1439px) {

}