@media(min-width: 992px){
  .body-loaded .lahfb-header-vertical-no-toggle .lahfb-wrap-sticky-height {
      display: none;
  }
  .header-sticky-type-auto .lahfb-header-vertical-no-toggle .lahfbhinner {
      transform: none;
      -webkit-transform: none;
  }
}

/* Medium devices (tablet, less than 991px) */
@media (max-width: $screen-sm-max ){
  .home_05_banner_3 .b-title2 {
    margin: 0px !important;
  }
  .close-responsive-nav{
    top: 65px;
  }
  .home_05_banner_3 .b-title3 span:first-child{
    font-size: 14px;
  }
  .home_05_banner_4 .b-title2{
    letter-spacing: 0 !important;
  }
  .banner-type-2 .banner--info {
    left: 30px;
    padding: 0;
  }
  .home_05_heading_tab_product{
    margin: 0;
    padding-left: 20px;
    padding-right: 10px;
  }
  .btn.home_05_button_tab_product{
    display: none;
  }
   .vc_row.background_height_box{
      background-size: 100% 100%;
  }
  .banner-responsive.la-banner-box .banner--image div{
    padding-top: 70% !important;
  }
  .elm-loadmore-ajax{
    margin-top: 0;
  }
  .wpb-js-composer .vc_tta-panel-body .products{
    padding-top: 15px;
  }

  .tp-caption.zuka_btn1, .zuka_btn1 {
    padding: 0 30px !important;
    line-height: 40px !important;
    letter-spacing: 1px !important;
  }

  .font-size-46{
    font-size: 36px;
  }
  .font-size-30{
    font-size: 24px;
  }

  .slick-slider[data-slick_custompaging] .slick-dots li{
    width: 10px;
    height: 10px;
    i {
      font-size: 13px;
    }
  }

  .elm-countdown.elm-countdown-style-2 .countdown-section{
      width: 65px;
      height: 65px;
      padding: 10px;
      .countdown-amount{
        font-size: 26px;
      }
  }
  .site-main{
    padding-top: 30px;
  }
  .la-advanced-product-filters .sidebar-inner{
    padding: 30px  30px 0;
  }
  .woocommerce #customer_details {
    width: 55%;
  }
  .woocommerce #order_review {
    width: 45%;
    padding: 80px 20px 10px;
  }
  .woocommerce #order_review_heading {
    width: 45%;
    padding: 30px 0 0 20px;
  }

  .main--loop-container .la-pagination{
    margin-top: 30px;
  }

  .widget_recent_entries .pr-item{
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 5px;
  }
  .comments-container .comments-title h3, .comment-reply-title{
    letter-spacing: 0;
    text-transform: none;
  }

  .product--summary .entry-summary > .stock {
    float: none;
    padding-left: 0;
  }


  .showposts-loop.grid-5 .loop__item__info {
    padding-left: 10px;
    padding-right: 10px;
  }
  .error404 .customerdefine-404-content{
    min-width: 100%;
  }
  .has-custom-404-content{
    .vc_row{
      > .wpb_column {
        margin-bottom: 30px;
      }
    }
  }
  
  #page.lahfb-header-vertical-no-toggle {
      padding-left: 0;
  }

}
@media (max-width: 800px ){
  .elm-countdown.elm-countdown-style-3 .countdown-section {
    width: 60px;
    margin: 5px;
    padding: 15px 0;
  }

  .products-list.products-list-special_1 > li.product_item{
        width: 100% !important;
  }
  .elm-countdown.elm-countdown-style-3 .countdown-section .countdown-amount {
    font-size: 16px;
  }

  .elm-countdown.elm-countdown-style-3 .countdown-section .countdown-period {
    font-size: 12px;
  }

  .font-size-46{
    font-size: 30px;
  }
  .filter-style-3{
    ul {
      font-size: 20px;
      li{
        margin: 0 10px;
      }
    }
  }

  .woocommerce.add_to_cart_inline .amount {
    margin: 15px 0;
  }

  .banner-type-9 .banner--info{
    .b-title{
      display: none;
    }
  }
  .m12-row-banner .banner-type-8 .banner--btn{
    margin-top: 15px;
  }

  .products-list{
    &:not(.products-list-mini){
      .product_item{
        .product_item--inner{
          margin-bottom: 40px;
        }
        .product_item--info{
          padding-left: 20px;
        }
        .product_item--title {
          font-size: 16px;
          margin-bottom: 10px;
        }
        .price {
          margin-bottom: 0;
        }
      }
    }
  }

  /**
  * Single Product
  */
  .la-p-single-3 .product-main-image {
    margin-bottom: 10px;
  }
  .product--summary{
    .entry-summary > .cart{
      margin-top: 0;
    }
    .social--sharing,
    .product_meta {
      margin-top: 15px;
    }
    .woocommerce-product-details__short-description {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    a.add_wishlist.button {
      clear: both;
    }
  }
  .wc-tabs{
    margin: 5% 0;
  }

  .cart-flyout{
    padding: 30px;
    .cart-flyout__heading{
      margin-bottom: 30px;
    }
  }

}


/* Small devices (tablets, 768px only) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){

}