.site-header {
  padding: 0 80px;
  .builder-block-logo {
    padding: 0;
  }
}

.site-branding {
  float: left;
  max-width: 300px;
  figure {
    display: block;
    height: 100%;
  }
  a {
    display: inline-block;
    vertical-align: middle;
    @include single-transition();
  }
  img {
    max-height: 100%;
    @include transition(all 250ms ease);
  }
  .logo--transparency {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.header-left,
.header-middle,
.header-right,
.site-branding,
.site-main-nav {
  float: left;
}

.header-right {
  float: right;
}

.site-header {
  .site-branding {
    img {
      max-height: 90%;
    }
  }
  .header-main {
    position: relative;
  }
  .header-search-form {
    display: none;
  }
  ul.menu {
    margin: 0;
    padding: 0;
  }
  .header-component-inner {
    padding-top: 30px;
    padding-bottom: 30px;
    @include single-transition(padding);
  }
  .la_com_action--dropdownmenu {
    .menu {
      padding: 15px 0;
    }
  }
}

.site-main-nav {
  .main-menu {
    > li {
      > a {
        transition: background .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
        &:after {
          content: "";
          border-top: 2px solid;
          border-top-color: inherit;
          right: 15px;
          left: auto;
          width: 0;
          position: absolute;
          transition: width .25s ease-out;
          bottom: 10px;
        }
      }
      &.active {
        > a {
          &:after {
            left: 15px;
            right: auto;
            width: calc(100% - 30px);
            width: -webkit-calc(100% - 30px);
            transition: width .25s ease-in;
            @media(max-width: 1400px) {
              left: 10px;
              width: calc(100% - 20px);
              width: -webkit-calc(100% - 20px);
              border-top-width: 1px;
            }
          }
        }
      }
    }
  }
}

.enable-header-fullwidth:not(.body-boxed) {
  .site-header__nav > .container,
  .site-header-top > .container,
  .site-header .site-header-inner > .container {
    width: 100%;
    @media (min-width: 1300px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (min-width: 1500px) {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}

.site-header-mobile .site-header-inner,
.site-header .site-header-inner {
  position: relative;
  z-index: 4;
}

.site-header-top {
  font-size: .857em;
  padding-top: 10px;
  padding-bottom: 10px;
  .la_com_dropdown_language,
  .la_com_dropdown_currency {
    float: right;
    text-align: center;
    ul.menu {
      right: 0;
      width: auto;
      min-width: 120px;
    }
    li a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.site-category-nav {
  .mega-menu > li > a {
    padding: 8px 25px;
    font-size: 14px;
    .mm-icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      width: 30px;
    }
  }
}

.sf-fields {
  border: 1px solid;
  -webkit-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  select {
    border: none;
    padding: 0 20px;
    height: 48px;
    background-position: right -15px center;
  }
  .sf-field-input {
    padding: 0 10px;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-negative: 1;
    -ms-flex-preferred-size: auto !important;
  }
  .search-button {
    position: static;
    width: 40px;
    margin-right: 5px;
    font-size: 14px;
    padding-top: 3px;
    @include transform(none);
  }
  .search-field {
    border: none;
    &:focus {
      @extend %text-color-secondary;
    }
  }
  #sf_select_category_tmp {
    display: none;
  }
}

.site-header__nav-second {
  background-color: #f7f7f7;
  padding: 10px 0;
  ul.menu {
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 24px;
    li {
      position: relative;
      display: block;
    }
    > li {
      display: inline-block;
      margin: 0 15px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.la_compt_iem .dl-icon-menu5 {
  font-size: 1.6em;
}

.site-header-top .la_com_action--dropdownmenu .menu {
  left: auto !important;
  right: 0;
}

/*
 *  Header
 */

.lahfb-wrap {
  z-index: 9;
  .lahfb-nav-wrap #nav > li.current > a {
    color: #181818;
  }
  .lahfb-nav-wrap #nav li.current ul li a:hover,
  .lahfb-nav-wrap #nav ul.sub-menu li.current > a,
  .lahfb-nav-wrap #nav ul li.menu-item:hover > a {
    @extend %text-color-primary;
  }
}

.lahfb-nav-wrap.has-parent-arrow > ul > li.mega > a:before {
  -webkit-transform: none;
  transform: none;
  top: auto;
}

#nav a span.menu-item-badge {
  bottom: calc(60% - 1px);
}

.lahfb-nav-wrap #nav {
  > li.menu-item {
    > a {
      &:hover {
        color: #181818;
        &:before {
          @include opacity(1);
        }
      }
      &:before {
        @extend %background-color-primary;
        width: 20px;
        height: 2px;
        left: 50%;
        margin-left: -10px;
        top: calc(50% + 1em);
        top: -webkit-calc(50% + 1em);
        position: absolute;
        content: "";
        @include opacity(0);
      }
    }
    &.current {
      > a {
        &:before {
          @include opacity(1);
        }
      }
    }
  }
  ul li.menu-item a {
    padding: 8px 0;
    text-transform: none;
  }

  > li:not(.mega) ul {
    padding: 30px 35px;
  }
  li.mega ul.sub-menu ul.mm-mega-ul {
    padding: 30px 65px;
  }
  > li:not(.mega) ul,
  li.mega ul.sub-menu ul.mm-mega-ul {
    background-color: #fff;
    @include box-shadow(0px 1px 24px 0px rgba(0, 0, 0, 0.09));
    min-width: 270px;

  }
  li.mega ul.sub-menu ul.mm-mega-ul {
    > li > a {
      font-size: 18px;
      letter-spacing: -1px;
      position: relative;
      margin-bottom: 20px;
      &:before {
        @extend %background-color-primary;
        width: 36px;
        height: 2px;
        left: 0;
        bottom: -8px;
        position: absolute;
        content: "";
      }
    }
  }
  .mega ul.sub-menu li:hover {
    background-color: transparent;
  }
  ul {
    li.menu-item a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.la-header-woo-cart {
  .woocommerce-mini-cart__empty-message {
    padding: 30px;
  }
}

.la-ht #hamburger-menu-wrap {
  background-color: #fff;
  @include box-shadow(0px 1px 26px 0px rgba(0, 0, 0, 0.13));
  #hamburger-nav {
    margin-bottom: 30px;
    > li {
      > a {
        color: #181818;
        font-weight: 400;
        font-size: 16px;
        text-transform: none;
        padding: 18px 0;
      }
    }
  }
}

.hamburger-menu-main .lahfb-hamburger-top,
.hamburger-full-wrap .lahfb-hamburger-top {
  flex-grow: 0;
  -webkit-flex-grow: 0;
}

.body-loaded.is-open {
  &:before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    position: fixed;
    z-index: 11;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#lastudio-header-builder {
  span.woocommerce-Price-amount.amount {
    color: #181818;
  }
  .mm-menu-custom-block {
    > a {
      display: none;
    }
  }
  .lahfb-text {
    i {
      margin-right: 8px;
    }
  }
  .lahfb-search {
    form {
      &:before {
        left: auto;
        right: -20px;
        font-size: 16px;
        top: 60%;
      }
    }
    .search-text-box {
      border-bottom: 1px solid #737373;
      padding: 0;
      font-size: 11px;
      background-color: transparent;
      min-width: 170px;
      height: 25px;
    }
  }
}

.lahfb-header-woo-cart-toggle .la-cart-modal-icon .header-cart-count-icon {
  @extend %background-color-primary;
  @include border-radius(50%);
  width: 20px;
  height: 20px;
  top: 36%;
  left: 50%;
  line-height: 20px;
}

.enable-header-transparency {
  #lastudio-header-builder {
    position: absolute;
    background-color: transparent;
  }
}

.hidden-text-menu .mm-item-onlyicon > a.sf-with-ul.hcolorf {
  font-size: 0 !important;
}

.heading-header-1 {
  span {
    span {
      color: #0A9400 !important;
      font-weight: 700;
      margin-left: 10px;
    }
  }
}

.heading-header-2 {
  span {
    @extend %three-font-family;
    span {
      color: #E45859 !important;
      font-weight: 700;
      margin-left: 10px;
      @extend %body-font-family;
    }
  }
}

.menu-not-primary.lahfb-nav-wrap #nav > li.menu-item > a:before {
  display: none;
}

.menu-sub-right {
  &.lahfb-nav-wrap #nav > li:not(.mega) ul,
  &.lahfb-nav-wrap #nav li.mega ul.sub-menu ul.mm-mega-ul {
    right: 0;
  }
}

.lahfb-sticky-view.is-visible,
.lahfb-sticky-view.lahfb-sticky-fixed {
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.2);
}

#lastudio-header-builder {
  .lahfb-nav-wrap #nav > li.menu-item ul {
    background-color: #fff;
  }
  .search-form-v2.lahfb-search {
    form:before {
      right: 0;
      left: auto;
      font-size: 16px;
      top: 60%;
      background: #0A9400;
      height: 50px;
      line-height: 50px;
      top: 0;
      transform: none;
      width: 60px;
      text-align: center;
      color: #fff !important;
    }
    .search-text-box {
      width: 680px;
      border: 1px solid #CDCDCD;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      font-size: 14px;
      color: #000;
    }
  }
  .header-v3 {
    .search-form-v2.lahfb-search {
      form:before {
        background: #1C34AE;
      }
    }
  }
}

.menu-vertical {
  &.lahfb-nav-wrap #nav > li.menu-item {
    &:before {
      display: none;
    }
    > a {
      text-transform: uppercase;
      > i {
        font-size: 26px;
        margin-top: 0;
        margin-right: 20px;
      }
    }
  }
}

/*
 *  Header Vertical
 */

@media(min-width: 992px){
  #page.lahfb-header-vertical-no-toggle {
    padding-left: 300px;
    .lahfb-vertical{
      min-width: 300px;
    }
  }
}

@media(min-width: 1600px){
  #page.lahfb-header-vertical-no-toggle {
    padding-left: 400px;
    .lahfb-vertical{
      min-width: 400px;
    }
  }
}

.lahfb-vertical {
  padding-top: 80px;
  padding-bottom: 80px;

}

.lahfb-wrap .lahfb-vertical,
.lahfb-vertical-contact-form-wrap {
  border: none;
}

.vertical-menu-top {

  .lahfb-search,
  .lahfb-hamburger-menu,
  .lahfb-cart {
    display: inline-block;
    vertical-align: text-top;
    margin: 0 5px;
  }
  .lahfb-search,
  .lahfb-cart {
    margin-top: -4px;
  }
  .lahfb-logo {
    margin-bottom: 20px;
  }
  .lahfb-col {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  .lahfb-wrap .lahfb-nav-wrap #nav > li.current > a {
    color: #fff;
  }
  .lahfb-nav-wrap #nav > li.menu-item > a:before {
    bottom: calc(15% - 1px);
    background-color: #fff;
  }
  .lahfb-header-woo-cart-toggle .la-cart-modal-icon .header-cart-count-icon {
    top: -5px;
  }
  #nav a span.menu-item-badge,
  .lahfb-nav-wrap #nav li.menu-item a > i {
    display: none;
  }

}

/*
 *  Header V1
 */

.header-v1 {
  .lahfb-cart,
  .lahfb-search {
    i {
      font-size: 16px;
    }
  }
}

/*
 *  Header V2
 */

.header-v2 {
  .mm-popup-wide > .sub-menu > .mm-mega-li {
    margin: 0 !important;
  }
  .lahfb-col {
    width: 33.3%;
  }
  .header-search-simple-wrap {
    margin-right: 30px;
  }
}

@media (max-width: 1860px) {
  .header-v2 .lahfb-col {
    width: auto;
  }
}

@media (max-width: 768px) {
  .header-v2 {
    position: relative;
    top: 0;
    width: 100%;
  }
  .enable-header-transparency #lastudio-header-builder {
    position: relative;
  }
}

/*
 *  Header V4
 */

.header-v4 {
  .header-social-icons {
    margin-right: 8px;
    a i {
      font-size: 24px;
    }
  }
  .header-search-simple-wrap {
    margin-right: 30px;
  }
  .lahfb-search .search-text-box {
    #lastudio-header-builder & {
      border-color: #fff;
      color: #fff;
    }
  }
  .lahfb-nav-wrap #nav {
    > li.menu-item {
      > a {
        &:hover {
          color: #fff;
        }
        &:before {
          background-color: #fff;
        }
      }
      &.current {
        > a {
          color: #fff;
        }
      }
    }
  }
  .lahfb-nav-wrap.has-parent-arrow > ul > li.menu-item-has-children:before,
  .lahfb-nav-wrap.has-parent-arrow > ul > li.mega > a:before {
    color: #fff;
  }

}


/*
 *  Header V5
 */

.lahfb-area{
  &.header-v5-1 {
    .lahfb-content-wrap {
      .lahfb-left-col,
      .lahfb-center-col,
      .lahfb-right-col {
        width: 33.3%;
      }
    }
  }
  &.header-v3-3,
  &.header-v5-3 {
    .lahfb-content-wrap {
      .lahfb-left-col{
        margin-right: 3%;
      }
      .lahfb-col{
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
      }
      .lahfb-right-col{
        margin-left: auto;
      }
    }
  }
  .lahfb-nav-wrap #nav {
    > li.menu-item {
      > a {
        &:hover {
          color: #fff;
        }
        &:before {
          height: 0;
          border-top: 2px solid;
        }
      }
      &.current {
        > a {
          color: #fff;
        }
      }
    }
  }
}

.is-sticky .lahfb-desktop-view .lahfb-area {
  background-color: #fff;
}

@media(max-width: 1400px){
  .lahfb-desktop-view .lahfb-row2-area.header-v5-3 {
    max-height: 70px;
  }
}

@media(max-width: 1200px){
  .lahfb-desktop-view .lahfb-row2-area.header-v5-3 .lahfb-left-col {
    display: none;
  }
  .lahfb-desktop-view .lahfb-topbar-area.header-v5{
    .lahfb-col{
      &:not(.lahfb-center-col){
        display: none;
      }
    }
  }
}

.lahfb-area.header-v5{
  .lahfb-nav-wrap.has-parent-arrow > ul > li.menu-item-has-children:before,
  .lahfb-nav-wrap.has-parent-arrow > ul > li.mega > a:before {
    color: #fff;
  }
  .lahfb-header-woo-cart-toggle .la-cart-modal-icon .header-cart-count-icon {
    top: 28%;
    left: 65%;
  }
  .menu-account-header-v5.lahfb-nav-wrap #nav > li.menu-item > a:hover {
    color: #181818;
  }
}

.lahfb-area.header-area-padding {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1824px) {
    padding-left: 80px;
    padding-right: 80px;
  }
}


#lastudio-header-builder .lahfb-desktop-view .lahfb-area.header-v4,
#lastudio-header-builder .lahfb-desktop-view .lahfb-area.header-v3{
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1824px) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.lahfb-desktop-view .lahfb-row1-area.header-v3 li:before {
  display: none !important;
}

.menu-account-header-v5 i {
  font-size: 26px !important;
}

/*
 *  Header V6
 */


/*
 *  Header V3
 */

.header-v3 {
  .lahfb-header-woo-cart-toggle .la-cart-modal-icon .header-cart-count-icon {
    background-color: #DC0109;
    top: 28%;
    left: 65%;
  }
}

#lastudio-header-builder .search-icon-primary.lahfb-search form:before{
  @extend %background-color-primary;
}

